<table class="table table-bordered">
    <tbody>
    <tr>
        <td colspan="10" style="background: #f3f2f0">编辑值班</td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">值班人员</td>
        <td colspan="8"><input size="60" type="text" ng-model="addParams.caretakerName" readonly>
            <div id="userselect" style="display: inline">
                <button ng-click="addPeopleClick()">添加人员</button>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">所在机构</td>
        <td colspan="8"><input size="60" type="text" ng-model="addParams.departmentName" readonly>
            <div id="deptSelect" style="display: inline">
                <button ng-click="addOrgClick()">选择机构</button>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" colspan="2">开始日期</td>
        <td colspan="3">
            <input type="text" class="form-control" id="startdate" style="width: 50%;" readonly ng-model="addParams.startDate" />
         
        </td>
        <td class="td-text" colspan="2">结束日期</td>
        <td colspan="3">
            <input type="text" class="form-control" id="enddate" style="width: 50%;" readonly ng-model="addParams.endDate"/>
        </td>
    </tr>


    <tr>
        <td class="td-text" colspan="2">备注</td>
        <td colspan="8">
            <textarea style="width:80%;" rows="4" ng-model="addParams.description"></textarea>
        </td>
    </tr>
    </tbody>
</table>

<div class="container" style="text-align: center; margin-bottom: 10px">
    <button class="btn btn-primary" data-toggle="tab" ng-click="addEvent()">保存</button>
    <button class="btn btn-primary" style="margin-left: 80px" href="#schedule" onclick="$('#duty_list').click()" data-toggle="tab">取消</button>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="peopleSelectModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    选择员工
                </h4>
            </div>
            <div class="modal-body">
                <input style="display: inline; padding: 5px" size="66" type="text" ng-model="searchParams.content" placeholder="请输入员工姓名或拼音">
                <div style="display: inline">
                    <button class="btn btn-primary" style="margin-left: 10px" ng-click="searchPeople()">查询</button>
                </div>

                <div style="margin-top: 20px">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_3">
                        <thead>
                        <tr>
                            <th class="td-text-title">选中</th>
                            <th class="td-text-title">单位</th>
                            <th class="td-text-title">处室</th>
                            <th class="td-text-title">科室</th>
                            <th class="td-text-title">姓名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX" ng-repeat="user in searchParams.result">
                            <td><input type="checkbox" ng-checked="user.isChecked" ng-click="userClick(user)"/> </td>
                            <td>{{user.company}} </td>
                            <td>{{user.office}} </td>
                            <td>{{user.department}} </td>
                            <td>{{user.displayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer; text-center" style="margin: 10px;">
                <button type="button" class="btn btn-primary" ng-click="peopleConfig('people')">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="orgSelectModal" tabindex="0" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title text-center">
                    选择组织
                </h4>
            </div>
            <div class="modal-body">
                <ul id="menus" style="list-style-type:none;"  style="max-height: 500px">
                    <li ng-repeat="org in newOrgList" style="list-style-type:none;"><a style="padding-left: 10px">{{org.shortname}}</a>
                        <ul style="list-style-type:none;">
                            <li ng-repeat="secondLevelOrg in org.child" style="list-style-type:none;">
                                <a ng-if="secondLevelOrg.child.length == 0" style="text-decoration:none; cursor:pointer;" ng-click="deptSelect(secondLevelOrg)">{{secondLevelOrg.name}}</a>
                                <a ng-if="secondLevelOrg.child.length != 0" ng-click="deptSelect(secondLevelOrg)">{{secondLevelOrg.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer; text-center" style="margin: 10px;">
                <button type="button" class="btn btn-primary" ng-click="peopleConfig('org')">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>