*,article,section,ul,div,p,td,li{
    margin: 0;padding: 0;
}
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
body {font-size: 1.4rem;/*1.4 × 10px = 14px */
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    min-width: 1024px;
    max-width: 80%;
    margin: 0 auto;
}
h1 { font-size: 2.4rem;/*2.4 × 10px = 24px*/}


/*顶部导航开始*/
.navbar{
    width: 100%;
    margin: 0 auto;
}

.navbar .container-fluid{
    position: relative;
    padding: 0;
    background: #ffffff;
}
.brand{
    float: left;
    width: 25.8rem;
    height: 5.2rem;
}

.nav-list{
    list-style: none;
    float: left;
    border-left: 1px solid lightgrey;
    font-size: 14px;
    font-weight: 400;
    color: #797979!important;
}
.navbar-link.com-portal:hover{
    background: #00a2e5;
    color: #ffffff;
}
.dep-portal:hover{
    background: #FFB341;
    color: #ffffff;
}
.navbar-link.workbench:hover{
    background: #ABCB27;
    color: #ffffff;
}
.navbar-link{
    display: inline-block;
    height: 100%;
    position: relative;
    padding:0 3rem;
    color: #797979;
    width: 100%;
}
/*.navbar-link:after{
    content: " ";
    background-image:url('../images/arrow-up-down.png');background-repeat:no-repeat;display:inline-block;height:12px;width:12px;font-size:0;background-position:-89px -45px}

.navbar-link:hover::after{
   background-position:-89px -55px}*/
.nav-list .navbar-link:hover{
    color: #ffffff;
    text-decoration: none;

}
.nav-list .active{
    color: #0066cc;
}
.nav-list-item{
    float: left;
    border-right: 1px solid lightgrey;
    line-height: 5.2rem;
    text-align: center;
    width: 20rem;
}
#depPortalNav{
    display: none;
}
.nav-action{
    /*border: 1px solid blue;*/
    position: absolute;
    top: 0;
    right: 0;
    line-height: 3.2rem;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: grey;
}
.nav-action .login{
    min-width:12rem;
    text-align: center;
}
.nav-action .search{
    min-width: 22rem;
    border-left: solid 1px lightgrey;
    text-align: left;
}
.nav-action .form-control{
    display: inline;
    /*width: auto;*/
    width: 15rem;
}
.nav-action .search{
    padding-left: 3rem;
}
.nav-link{
    position: relative;
}
.nav-panel{
    background-color: white;
    display: none;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 5.2rem;
    width: 100%;
    height: 16.5rem;
    z-index: 1030;
    font-size: 14px;
    font-weight: 400;
    color: #797979!important;
    margin-left: 0!important;
    margin-right: 0!important;
    border: 1px solid lightgrey;
}
.company>ul:first-child{
    padding-top: 2rem;
}
.nav-panel .list{
    border-top: 1px solid lightgrey;

}
.nav-panel ul{
    padding: 0 2rem;
    list-style: none;
}

.nav-panel .list-item{
    float: left;
    width: 14%;
    text-align: center;
}
.company .btn:hover{
    background-color: #00a2e5;
    color:#fff
}
.dept-subj .btn:hover{
    background-color: #FFB341;
    color:#fff
}
.dept-subj .list-item{
    width: 25%;
    margin-bottom: -1rem;
}
.dept-subj .title{
    margin-bottom: -2rem;
}

.list.dept{
    position: relative;
}
.dept .split{
    position: absolute;
    top: 0;
    right: 0;
}
/*顶部导航结束*/
/*logo*/
.logo{
    width: 100%;
    padding: 0 1px;
}
/*logo end*/